# Exclude target directory
target/

# Exclude Git history
# DO NOT EXCLUDE: The following lines ensure that Git submodules are included
!.gitmodules
!deps/
!deps/**

# Exclude Docker-specific files if any
Dockerfile
.dockerignore

# Exclude other unnecessary files
*.log

# Node.js dependencies
node_modules/

# Editor-specific files
.vscode/
.idea/

# Temporary files
*.tmp
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Backup files
*~

# Environment files
.env
.env.*

# Large binary files or datasets (if any)
# *.bin
# *.dat

# Documentation
docs/

# Test files
tests/

# Exclude sonata-python directory
src/sonata/sonata-python/